.main {
    width: 100%;
    height: 360px;
    background-color: rgba(249, 248, 254, 1);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.links {
    color: rgba(21, 24, 117, 1);
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 60%;
    margin: auto;
}

.articles {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 60%;
    margin: auto;
}

.button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    margin-right: 10px;
    transition-duration: 0.4s;
    font-size: 18px;
}

.button:hover {
    background-color: #8568ff;
    color: white;
}
.button:active {
    background-color: yellowgreen;
    color: black;
}

.title{
    color: rgba(21, 24, 117, 1);
    font-family: 'Crimson Pro', serif;
    font-size: 18px;
    font-weight: normal;
}