.productListPage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1000px;
}
.filters {
  margin: auto;
}

a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

a:link {
}

a:visited {
}
